/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
    background-color: #f2f1ef;
    color: #413f3d;
    margin-bottom: 20px;
}

mat-form-field, mat-label, matInput{
    color:#413f3d !important;
}

table, tr, td{
    padding: 10px;
    margin:10px;
}
mat-raised-button{
    color:#413f3d
}

.mat-success {
    background-color: green;
    /* color: #fff; */
}

