.mat-toolbar {
    height: 65px;
}
.mat-icon{
    display: inline-block;;
    float: right;
    margin-top: 2px;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .full-height {
    min-height: 70vh;
    margin-bottom: 20px;
  }
  h3{
    margin-left: 20px;
  }
  h4{
    display: inline-block;
  }
  .example-icon{
    height:45px;
    width:45px;
    padding:5px;
    margin-top:-6px;
    margin-left:10px;
  }

  
