<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>

    <script type="text/javascript">
        $(document).bind('contextmenu', function (e) {
            return false;
        }); 
    </script>
</head>

<body>
    <div>
        <form [formGroup]="form" (ngSubmit)="searchbykey()">
            <table>
                <tr>
                    <td>
                        <input type="text" size="30" id="name" placeholder="Search by keyword" formControlName="search">
                    </td>
                    <td>
                        <button class="search" mat-raised-button type="submit">Search</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div *ngIf="accUUIDs.length > 0 ">
        <mat-card class="example-card" *ngFor="let a of accUUIDs;" (click)="details(accommodations[a])">
            <img mat-card-image [src]="accommodations[a].img">
            <mat-card-title>{{ accommodations[a].name }}</mat-card-title>
            <mat-card-content>
                <p>

                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Click to view details</button>
            </mat-card-actions>
        </mat-card>
        <div style="overflow: hidden;">
            <button class="next-button" type="button" mat-raised-button (click)="getNext()">Load More</button>
        </div>
    </div>
    <div *ngIf="nomore" style="margin-left: 50px;">
        <h1> No results for search. </h1>
    </div>
</body>


</html>