<body>
    <!-- <mat-toolbar color="primary">
        <h3 class="nav-words">Home</h3>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user
        </mat-icon>
    </mat-toolbar> -->
    <div>
        <table class="hometable">
            <tr>
                <td>
                    <img src="/assets/attractions.png" (click)="goToAttractions()">
                </td>
                <td>
                    <img src="/assets/accomodations.png" (click)="goToAccoms()">
                </td>
                <td>
                    <img src="/assets/events.png" (click)="goToEvents()">
                </td>
            </tr>
        </table>
    </div>

</body>